.task-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-detail {
    margin-top: 15px;
}

.ant-picker-calendar-header{
    margin-top: -10px;
}

.div_contenedor{
    width: 20vw;
    margin-left: 15px;
    border: solid 1px #eaeaea;
}

h4{
    margin-left:8px;
}

.ant-spin-dot-item{
    background-color: #00b33c !important;
}